@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (tableData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        <thead>
            <tr>
                @if (tableData?.tableHeader != null)
                {
                    @foreach (var header in tableData.tableHeader)
                    {
                        <th>@header</th>
                    }
                }
                <th @onmousedown="IncrementColumn" oncontextmenu="return false;">+</th>
            </tr>
        </thead>
        <tbody>
            @if (tableData?.tableBody != null)
            {
                foreach (var row in tableData.tableBody)
                {
                    <tr>
                        @foreach (var cell in row)
                        {
                            <td>
                                <p>@cell</p>
                                <div class=""></div>
                            </td>

                        }
                    </tr>
                    <tr></tr>
                }

            }

        </tbody>
    </table>




    @code {


    private TableData? tableData;

    protected override async Task OnInitializedAsync()
    {
        tableData = await Http.GetFromJsonAsync<TableData>("sample-data/initalData.json");
    }

    public class TableData
    {
        public List<string>? tableHeader { get; set; }
        public List<List<object>>? tableBody { get; set; }
    }

    private void IncrementColumn(MouseEventArgs e)
    {
        if (e.Button == 0)
        {
            if (tableData?.tableHeader != null)
            {
                tableData.tableHeader.Add("1");
            }

            if (tableData?.tableBody != null)
            {
                foreach (var row in tableData.tableBody)
                {
                    row.Add("1");
                }
            }
        }
        else if (e.Button == 2)
        {
            Console.WriteLine("Modal");
        }

    }
}
}


