@page "/"
<PageTitle>Index</PageTitle>

@inject HttpClient Http

@if (tableData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <section class="table-wrapper">
        <table class="full">
            @if (tableData != null)
            {
                <TableHeader TableHeaderData="tableData.tableHeader"
                     IncrementColumn="HandleIncrementColumn" />
                <TableBody TableBodyData="tableData.tableBody" headers="GetHeader()" />
            }
        </table>
        <div class="height-filler">

        </div>
        <button @onclick="() => Console.WriteLine(JsonConvert.SerializeObject(tableData.tableBody, Formatting.Indented))">312#!#Print</button>
    </section>
   




    @code {

    static TableData tableData;


    protected override async Task OnInitializedAsync()
    {
        tableData = await Http.GetFromJsonAsync<TableData>("sample-data/initalData.json");
        //Console.WriteLine(JsonConvert.SerializeObject(tableData, Formatting.Indented));
    }

    public List<string> GetHeader()
    {
        List<string> result = new List<string>();

        foreach (TableHeaderClass header in tableData.tableHeader)
        {
            result.Add(header.value);
        }
        return result;
    }


    public void HandleIncrementColumn(MouseEventArgs e)
    {
        //if (tableData?.tableHeader == null || tableData?.tableBody == null) return;

        //if (e.Button == 0)
        //{
        //    tableData.tableHeader.Add("1");
        //    foreach (var row in tableData.tableBody)
        //    {
        //        row.Add("1");
        //    }
        //}
        //else if (e.Button == 2)
        //{
        //    Console.WriteLine("Modal");
        //}

    }

}
}


