@page "/"
<PageTitle>Index</PageTitle>

@inject HttpClient Http

@if (tableData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <main tabindex="0"
      @onkeydown="HandleKeyDown"
      @ref="mainRef"
      @onclick="(ev) => clearAllSelections(true)"
      class="full">
        <AppHeader />
        <TableActions applyRowAction='(type, rowIdx) => applyRowAction("add", 0)' />
        <section class="table-wrapper">
            <table>
                @if (tableData != null)
                {
                    <TableHeader TableHeaderData="tableData.tableHeader"
                         HandleMouseDown="(which, idx, columnIdx) => HandleMouseDown(which, idx, columnIdx)"
                         addNewColumn="(columnIdx, type) => addNewColumn(columnIdx, type)"
                         onDataChanged="(header, columnIdx, data) => updateData(header, columnIdx, data)"
                         cellWithOpenModal="cellWithOpenModal"
                         focusedCell="focusedCell"
                         editedCell="editedCell" />

                    <TableBody TableBodyData="tableData.tableBody"
                       headersData="tableData.tableHeader"
                       headers="GetHeaders()"
                       cellWithOpenModal="cellWithOpenModal"
                       focusedCell="focusedCell"
                       editedCell="editedCell"
                       HandleMouseDown="(which, idx, columnIdx) => HandleMouseDown(which, idx, columnIdx)"
                       applyRowAction="(type, rowIdx) => applyRowAction(type, rowIdx)"
                       onDataChanged="(header, rowIdx, data) => updateData(header, rowIdx, data)" />
                }
            </table>
            <div class="height-filler">
            </div>
        </section>
    </main>




    @code {

    static TableData tableData;
    private (int rowIdx, int columnIdx) cellWithOpenModal;
    private (int rowIdx, int columnIdx) focusedCell;
    private (int rowIdx, int columnIdx) editedCell;

    private ElementReference mainRef { get; set; }


    protected override async Task OnInitializedAsync()
    {
        tableData = await Http.GetFromJsonAsync<TableData>("sample-data/initalData.json");

        cellWithOpenModal = (-1, -1);
        focusedCell = editedCell = cellWithOpenModal;
        //Console.WriteLine(JsonConvert.SerializeObject(tableData, Formatting.Indented));
        //Console.WriteLine(System.Text.Json.JsonSerializer.Serialize(tableData));
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await mainRef.FocusAsync();
        }
    }

    private void HandleKeyDown(KeyboardEventArgs e)
    {

        if (e.ShiftKey && e.Key == "Enter")
        {
            addNewRow(0);
            return;
        }

        int headerRow = -100;
        int firstBodyRow = 0;
        int columnCount = GetHeaders().Count - 1;
        int rowCount = tableData.tableBody.Count - 1;
        bool isFocused = (focusedCell.columnIdx != -1 && focusedCell.rowIdx != -1);
        bool isEditing = (editedCell.rowIdx == focusedCell.rowIdx && editedCell.columnIdx == focusedCell.columnIdx);


        if (isFocused && !isEditing)
        {
            if (e.Key == "ArrowUp" && focusedCell.rowIdx >= 0)
            {
                if (focusedCell.rowIdx == 0) focusedCell.rowIdx = headerRow;
                else focusedCell.rowIdx--;
            }
            else if (e.Key == "ArrowDown" && focusedCell.rowIdx < rowCount)
            {
                if (focusedCell.rowIdx == -100) focusedCell.rowIdx = firstBodyRow;
                else focusedCell.rowIdx++;
            }
            else if (e.Key == "ArrowLeft" && focusedCell.columnIdx > 0) focusedCell.columnIdx--;
            else if (e.Key == "ArrowRight" && focusedCell.columnIdx < columnCount) focusedCell.columnIdx++;
            else if (e.Key == "Enter" || e.Key == "F2") editedCell = focusedCell;
            else if (e.CtrlKey && e.Key == "Delete") deleteRow(focusedCell.rowIdx);
        }
        else if (isFocused && isEditing)
        {

        }
        else
        {
            if (e.Key == "ArrowUp") focusedCell = (rowCount, 0);
            else if (e.Key == "ArrowDown" || e.Key == "ArrowRight") focusedCell = (-100, 0);
            else if (e.Key == "ArrowLeft") focusedCell = (-100, columnCount);
        }
        cellWithOpenModal = (-1, -1);
        StateHasChanged();
    }

    public void HandleMouseDown(int which, int rowIdx, int columnIdx)
    {
        if (which == 0)
        {
            focusedCell = (rowIdx, columnIdx);
            editedCell = cellWithOpenModal = (-1, -1);

            handleDoubleClick();
            mainRef.FocusAsync();
        }
        else if (which == 2)
        {
            editedCell = (-1, -1);
            focusedCell = (rowIdx, columnIdx);
            cellWithOpenModal = focusedCell;
        }

        StateHasChanged();
    }


    private int _clickCount = 0;
    private async void handleDoubleClick()
    {
        _clickCount++;


        if (_clickCount == 1)
        {
            
            await Task.Delay(500);
            if (_clickCount == 1)
            {
                
            }
            _clickCount = 0;
        }
        else if (_clickCount == 2)
        {
            editedCell = focusedCell;
            _clickCount = 0;
        }
    }

    public List<string> GetHeaders()
    {
        List<string> result = new List<string>();

        foreach (TableHeaderClass header in tableData.tableHeader)
        {
            result.Add(header.value);
        }
        return result;
    }

    public void clearAllSelections(bool doUpdate)
    {
        cellWithOpenModal = (-1, -1);
        if (doUpdate) StateHasChanged();

    }

    public void addNewColumn(int columnIdx, string type)
    {
        clearAllSelections(true);


        Console.WriteLine(columnIdx);
        Console.WriteLine(type);

        Random rand = new Random();
        int randomNumber = rand.Next();
        string propName = "_" + randomNumber.ToString();

        TableHeaderClass newHeader = new TableHeaderClass();
        newHeader.type = type;
        newHeader.value = propName;
        tableData.tableHeader.Insert(columnIdx, newHeader);

        dynamic customValue = getCustomValue(type);

        foreach (var item in tableData.tableBody)
        {
            item[propName] = customValue;
        }
        StateHasChanged();
    }

    public void applyRowAction(string type, int rowIdx)
    {
        if (type == "add") addNewRow(rowIdx);
        if (type == "delete") deleteRow(rowIdx);
        if (type == "duplicate") duplicateRow(rowIdx);
        StateHasChanged();
    }

    public void addNewRow(int rowIdx)
    {

        var rand = new Random();
        var newRow = new Dictionary<string, dynamic>();

        foreach (var header in tableData.tableHeader)
        {

            newRow["id"] = rand.Next();
            switch (header.type)
            {
                case "text":
                    newRow[header.value] = "_";
                    break;
                case "checkbox":
                    newRow[header.value] = false;
                    break;
                case "date":
                    newRow[header.value] = (int)DateTimeOffset.UtcNow.ToUnixTimeMilliseconds();
                    break;
                case "number":
                    newRow[header.value] = 0;
                    break;
                default:
                    newRow[header.value] = null;
                    break;
            }
        }

        tableData.tableBody.Insert(rowIdx, newRow);
    }

    public void deleteRow(int rowIdx)
    {
        tableData.tableBody.RemoveAt(rowIdx);
    }

    public void duplicateRow(int rowIdx)
    {
        tableData.tableBody.Insert(rowIdx, tableData.tableBody[rowIdx]);
    }

    public dynamic getCustomValue(string type)
    {
        if (type == "text") return "";
        else if (type == "number") return 0;
        else if (type == "checkbox") return false;
        else return 1244249;
    }

    public void updateData(string header, int idx, dynamic data)
    {
        if (header == "header") tableData.tableHeader[idx].value = data;
        else tableData.tableBody[idx][header] = data;
        StateHasChanged();
    }
}
}


