@page "/"
<PageTitle>Index</PageTitle>

@inject HttpClient Http
@using System.Linq

@if (tableData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <main tabindex="0"
      @onkeydown="HandleKeyDown"
      @ref="mainRef"
      @onclick="(ev) => clearAllSelections(true)"
      class="full">
        <AppHeader />
        <TableActions headers="GetHeaders()"
                  types="getTypes()"
                  applyRowAction='(type, rowIdx) => applyRowAction("add", 0)'
                  setSort="(sortBy, isDesc) => setSort(sortBy, isDesc)"
                  setFilterBy="(string filterBy) => setFilterBy(filterBy)" />

        <section class="table-wrapper">
            <table>
                <TableHeader TableHeaderData="tableData.tableHeader"
                         HandleMouseDown="(which, idx, columnIdx) => HandleMouseDown(which, idx, columnIdx)"
                         addNewColumn="(columnIdx, type) => addNewColumn(columnIdx, type)"
                         onDataChanged="(header, columnIdx, data) => updateData(header, columnIdx, data)"
                         cellWithOpenModal="cellWithOpenModal"
                         focusedCell="focusedCell"
                         editedCell="editedCell" />

                <TableBody TableBodyData="getFilteredList()"
                       headersData="tableData.tableHeader"
                       headers="GetHeaders()"
                       cellWithOpenModal="cellWithOpenModal"
                       focusedCell="focusedCell"
                       editedCell="editedCell"
                       HandleMouseDown="(which, idx, columnIdx) => HandleMouseDown(which, idx, columnIdx)"
                       applyRowAction="(type, rowIdx) => applyRowAction(type, rowIdx)"
                       onDataChanged="(header, rowIdx, data) => updateData(header, rowIdx, data)" />

            </table>
            <div class="height-filler">
            </div>
        </section>
    </main>




    @code {


    static TableData tableData;
    private (int rowIdx, int columnIdx) cellWithOpenModal;
    private (int rowIdx, int columnIdx) focusedCell;
    private (int rowIdx, int columnIdx) editedCell;
    public (string sortBy, bool isDesc) sortProps;
    public string filterBy = "";

    private ElementReference mainRef { get; set; }


    protected override async Task OnInitializedAsync()
    {

        string tableDataStr = await Http.GetStringAsync("sample-data/initData.json");

        tableData = JsonConvert.DeserializeObject<TableData>(tableDataStr);

        cellWithOpenModal = (-1, -1);
        focusedCell = editedCell = cellWithOpenModal;
        sortProps = ("", false);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await mainRef.FocusAsync();
        }
    }

    private void HandleKeyDown(KeyboardEventArgs e)
    {

        int headerRow = -100;
        int firstBodyRow = 0;
        int columnCount = GetHeaders().Count - 1;
        int rowCount = tableData.tableBody.Count - 1;
        bool isFocused = (focusedCell.columnIdx != -1 && focusedCell.rowIdx != -1);
        bool isEditing = (editedCell.rowIdx == focusedCell.rowIdx && editedCell.columnIdx == focusedCell.columnIdx);

        if (e.ShiftKey && e.Key == "Enter")
        {
            addNewRow(0);
            return;
        }
        if (e.Key == "Escape")
        {
            cellWithOpenModal = editedCell = focusedCell = (-1, -1);
            return;
        }


        if (isFocused && !isEditing)
        {
            if (e.Key == "ArrowUp" && focusedCell.rowIdx >= 0)
            {
                if (focusedCell.rowIdx == 0) focusedCell.rowIdx = headerRow;
                else focusedCell.rowIdx--;
            }
            else if (e.Key == "ArrowDown" && focusedCell.rowIdx < rowCount)
            {
                if (focusedCell.rowIdx == -100) focusedCell.rowIdx = firstBodyRow;
                else focusedCell.rowIdx++;
            }
            else if (e.Key == "ArrowLeft" && focusedCell.columnIdx > 0) focusedCell.columnIdx--;
            else if (e.Key == "ArrowRight" && focusedCell.columnIdx < columnCount) focusedCell.columnIdx++;
            else if (e.Key == "Enter" || e.Key == "F2") editedCell = focusedCell;
            else if (e.CtrlKey && e.Key == "Delete") deleteRow(focusedCell.rowIdx);
        }
        else if (isFocused && isEditing)
        {

        }
        else
        {
            if (e.Key == "ArrowUp") focusedCell = (rowCount, 0);
            else if (e.Key == "ArrowDown" || e.Key == "ArrowRight") focusedCell = (-100, 0);
            else if (e.Key == "ArrowLeft") focusedCell = (-100, columnCount);
        }
        cellWithOpenModal = (-1, -1);
        StateHasChanged();
    }

    public void HandleMouseDown(int which, int rowIdx, int columnIdx)
    {
        if (which == 0)
        {
            focusedCell = (rowIdx, columnIdx);
            editedCell = cellWithOpenModal = (-1, -1);

            handleDoubleClick();
            mainRef.FocusAsync();
        }
        else if (which == 2)
        {
            editedCell = (-1, -1);
            focusedCell = (rowIdx, columnIdx);
            cellWithOpenModal = focusedCell;
        }

        StateHasChanged();
    }


    private int _clickCount = 0;
    private async void handleDoubleClick()
    {
        _clickCount++;

        if (_clickCount == 1)
        {

            await Task.Delay(500);
            if (_clickCount == 1)
            {

            }
            _clickCount = 0;
        }
        else if (_clickCount == 2)
        {
            editedCell = focusedCell;
            _clickCount = 0;
        }
    }

    public List<string> GetHeaders()
    {
        List<string> result = new List<string>();

        foreach (TableHeaderClass header in tableData.tableHeader)
        {
            result.Add(header.value);
        }
        return result;
    }

    public List<string> getTypes()
    {
        List<string> result = new List<string>();

        foreach (TableHeaderClass header in tableData.tableHeader)
        {
            result.Add(header.type);
        }
        return result;
    }

    public void clearAllSelections(bool doUpdate)
    {
        cellWithOpenModal = (-1, -1);

        if (doUpdate) StateHasChanged();

    }

    public void addNewColumn(int columnIdx, string type)
    {
        clearAllSelections(true);

        Random rand = new Random();
        int randomNumber = rand.Next();
        string propName = "_" + randomNumber.ToString();

        TableHeaderClass newHeader = new TableHeaderClass();
        newHeader.type = type;
        newHeader.value = propName;
        tableData.tableHeader.Insert(columnIdx, newHeader);

        dynamic customValue = getCustomValue(type);

        foreach (var item in tableData.tableBody)
        {
            item[propName] = customValue;
        }
        StateHasChanged();
    }

    public void applyRowAction(string type, int rowIdx)
    {
        if (type == "add") addNewRow(rowIdx);
        if (type == "delete") deleteRow(rowIdx);
        if (type == "duplicate") duplicateRow(rowIdx);
        StateHasChanged();
    }

    public void addNewRow(int rowIdx)
    {

        var rand = new Random();
        var newRow = new Dictionary<string, dynamic>();

        foreach (var header in tableData.tableHeader)
        {

            newRow["id"] = rand.Next();
            switch (header.type)
            {
                case "text":
                    newRow[header.value] = "_";
                    break;
                case "checkbox":
                    newRow[header.value] = false;
                    break;
                case "date":
                    newRow[header.value] = (int)DateTimeOffset.UtcNow.ToUnixTimeMilliseconds();
                    break;
                case "number":
                    newRow[header.value] = 0;
                    break;
                default:
                    newRow[header.value] = null;
                    break;
            }
        }

        tableData.tableBody.Insert(rowIdx, newRow);
    }

    public void deleteRow(int rowIdx)
    {
        tableData.tableBody.RemoveAt(rowIdx);
    }

    public void duplicateRow(int rowIdx)
    {
        tableData.tableBody.Insert(rowIdx, tableData.tableBody[rowIdx]);
    }

    public dynamic getCustomValue(string type)
    {
        if (type == "text") return "";
        else if (type == "number") return 0;
        else if (type == "checkbox") return false;
        else return 1244249;
    }

    public void updateData(string header, int idx, dynamic data)
    {

        if (header == "header")
        {

            string prevPropName = tableData.tableHeader[idx].value;
            tableData.tableHeader[idx].value = data;

            foreach (var row in tableData.tableBody)
            {
                dynamic prevPropValue = row[prevPropName];
                row.Remove(prevPropName);
                row.Add(data, prevPropValue);
            }
        }
        else
        {
            tableData.tableBody[idx][header] = data;

        }
        StateHasChanged();
    }

    public void setSort(string sortBy, bool isDesc)
    {
        sortProps = (sortBy, isDesc);
        SortData();
    }

    public void SortData()
    {
        string key = sortProps.sortBy;
        bool isDesc = sortProps.isDesc;

        dynamic value = tableData.tableBody[0][key];

        Type type = value.GetType();


        List<Dictionary<string, dynamic>> sortedList;

        if (type == typeof(int) || type == typeof(long) || type == typeof(double) || type == typeof(float)) sortedList = tableData.tableBody.OrderBy(x => x[key]).ToList();
        else
        {
            switch (type.Name)
            {
                case "Number":
                case "Int":
                case "Long":
                    sortedList = tableData.tableBody.OrderBy(x => x[key]).ToList();
                    break;
                case "String":
                    sortedList = tableData.tableBody.OrderBy(x => x[key]).ToList();
                    break;
                case "Boolean":
                    sortedList = tableData.tableBody.OrderBy(x => x[key]).ToList();
                    break;
                default:
                    throw new Exception("Unexpected type: " + type);
            }
        }


        if (isDesc)
        {
            sortedList.Reverse();
        }

        tableData.tableBody = sortedList;
    }

    public void setFilterBy(string filterValue)
    {
        filterBy = filterValue;
    }

    public List<Dictionary<string, dynamic>> getFilteredList()
    {
        var filteredList = tableData.tableBody
            .Where(dict => dict.Values
            .Any(val => val != null && val.ToString().IndexOf(filterBy, StringComparison.OrdinalIgnoreCase) >= 0))
            .ToList();
        return filteredList;
    }
}
}


