@import '../setup/variables.scss';
@import '../setup/mixin.scss';
@import '../setup/functions.scss';

.main-header {
	height: 60px;
	padding-inline: 12px;
	background-color: $clr-primary;
	color: $clr2;
	@include flexbox();


	.right-wrapper, .left-wrapper {
		@include flexbox();
	}

	.left-wrapper {
		gap: 27px;

		.logo {
			@include flexbox();
			gap: 20px;

			svg {
				width: 24px;
				height: 24px;
			}

			h1 {
				font-size: rem(21px);
				font-weight: 700;
			}
		}

		nav {
			@include flexbox();
			gap: 20px;

			> * {
				cursor: pointer;
				border-radius: 2em;
				padding-inline: 15px;
				padding-block: 5px;
				transition: background-color .4s;
				border: 1px inset transparent;

				&.selected {
					background-color: $clr-primary-dark;
					border: 1px inset #1076c44d;
				}

				&:hover {
					background-color: $clr-primary-dark;
				}
			}
		}
	}

	.right-wrapper {
		@include flexbox();
		gap: 10px;
	}
}

.secondary-header {
	height: 32px;
	background-color: $clr-primary-dark;
	padding-inline: 12px;
	@include flexbox(row, flex-start, flex-end);

	span {
		color: $clr-primary-dark;
		background-color: $clr2;
		padding-block: 4px;
		padding-inline: 12px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		position: relative;
		z-index: 10;
		box-shadow: 0px -3px 2px #0c589188;
	}
}
