@import '../setup/mixin.scss';
@import '../setup/variables.scss';
.table-wrapper {
    max-height: calc(100vh - 136px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    table {
        width: 80%;
    }

    .height-filler {
        background-color: $clr0;
        flex-grow: 1;
    }
}
