@import '../setup/variables.scss';
@import '../setup/mixin.scss';

.table-cell {
    position: relative;
    transition: .4s box-shadow;

    &.focused {
        box-shadow: inset $clr-primary-dark 0px 0px 2px;
    }

    &.edited {
        box-shadow: inset #1076c4 0px 0px 6px 1px;
    }


    input {
        box-sizing: border-box;
        padding-block: 5px;
        padding-inline: 10px;
        border-inline: 1px solid #dde1e3;
        transition: .2s all;
        position: relative;
        width: 100%;
        height: 100%;
        outline: 0;
        border: 0;
        background-color: transparent;
        font-family: -apple-system, system-ui;

        &:hover {
            cursor: pointer;
        }

        &::-webkit-calendar-picker-indicator {
            filter: invert(60%) sepia(19%) saturate(14%) hue-rotate(5deg) brightness(93%) contrast(100%);
            transition: .4s;

            &:hover {
                cursor: pointer;
                filter: none;
            }
        }
    }

    .cell-modal {
        position: absolute;
        background-color: $clr2;
        border-radius: 2px;
        box-shadow: 0px 0px 7px rgb(12 72 116 / 53%);
        padding: 5px;
        display: flex;
        flex-direction: column;
        min-width: 174px;
        gap: 5px;
        z-index: 10;
        transition: .4s opacity;

        > span {
            padding-inline: 10px;
            transition: .4s background-color;

            &:hover {
                background-color: #1283da4a;
            }

            &.selected {
                background-color: #1283da4a;
            }
        }
    }

    .side-modal {
        opacity: 0;
        transition: .4s all;

        &.stick-top {
            transform: translate(90%, 3px);
        }

        &.stick-bottom {
            transform: translate(90%, 25px);
        }

        &.open, &:hover {
            opacity: 1;
        }

        > span {
            padding-inline: 10px;
            transition: .4s background-color;
            @include flexbox(row, flex-start, center);
            gap: 5px;

            &:hover {
                background-color: #1283da4a;
            }
        }
    }
}
