@mixin flexbox($direction: row, $justify: space-between, $align-items: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align-items;
}

@mixin cell-indent () {
    padding-inline-start: 10px;
}
