<columnIdx class="table-actions full">

    <span>
        <AppSvgs type="filter" />
        Filter
    </span>
    <span>
        <AppSvgs type="sort" />
        Sort
    </span>
    <span @onclick="() => addNewRow.Invoke(0)">
        <AppSvgs type="plus" />
        Add record
    </span>

</columnIdx>

@code {
    [Parameter]
    public Action<int> addNewRow { get; set; }
}
