<header class="table-actions full">
    <span>
        <div @onclick='() => toggleModal("filter")'>
            <AppSvgs type="filter" />
            Filter
        </div>

        <FilterModal headers="headers"
                     types="types"
                     setFilterBy="(string filterBy) => setFilterBy.Invoke(filterBy)"
                     isFilterModalOpen="isFilterModalOpen" />

    </span>
    <span @onclick='() => toggleModal("sort")'>
        <AppSvgs type="sort" />
        Sort
        <SortModal headers="headers"
                   setSort="(sortBy, isDesc) => setSort.Invoke(sortBy, isDesc)"
                   isSortModalOpen="isSortModalOpen" />
    </span>
    <span @onclick='() => applyRowAction.Invoke("add", 0)'>
        <AppSvgs type="plus" />
        Add record
    </span>

</header>

@code {

    [Parameter] public Action<string, int> applyRowAction { get; set; }
    [Parameter] public Action<string, bool> setSort { get; set; }
    [Parameter] public Action<string> setFilterBy { get; set; }

    [Parameter] public List<string> headers { get; set; }
    [Parameter] public List<string> types { get; set; }


    public bool isSortModalOpen = false;
    public bool isFilterModalOpen = false;

    public void toggleModal(string type)
    {
        if (type == "sort") isSortModalOpen = !isSortModalOpen;
        else isFilterModalOpen = !isFilterModalOpen;
    }

}
