<td 
    @onmousedown="handleMouseDown" 
    oncontextmenu="return false;"
    class="@($"{(isModalOpen ? "stick-top" : "")} {(isModalOpen ? "open" : "")} table-cell")">
    @innerText
</td>


@code {
    [Parameter]
    public object innerText { get; set; }

    [Parameter]
    public int cellIdx { get; set; }

    [Parameter]
    public string cellHeader { get; set; }

    [Parameter]
    public Action<int, string> handleTableBodyModalChanges { get; set; }

    [Parameter]
    public bool isModalOpen { get; set; }

    public void handleMouseDown(MouseEventArgs e)
    {
        if (e.Button != 2) return;

        handleTableBodyModalChanges.Invoke(cellIdx, cellHeader);
    }
}
